.DS_Store
chroma/.DS_Store
chroma/flattened_data/
.env
__pycache__/
*.pyc
.pytest_cache/
chroma_store/
chroma_db/
.vite

app/frontend/.env
app/frontend/.vite/
app/frontend/dist/
node_modules/
app/frontend/uploaded_files/app/frontend/.env
app/frontend/.vite/
app/frontend/dist/
app/frontend/node_modules/
app/frontend/uploaded_files/
app/frontend/example_finance.db
app/frontend/.env
app/frontend/.vite/
app/frontend/dist/
app/frontend/node_modules/
app/frontend/uploaded_files/
