.env
.DS_Store
__pycache__
*.db
*.sqlite3
*.pyc
.pytest_cache/

# Node / Vite (Frontend)
node_modules/
dist/
dist-ssr/
.vite
*.local

# Python / FastAPI (Backend)
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
app/api/app/data

# Database & User Uploads

example_finance.db
uploaded_files/
chroma/flattened_data/
chroma_store/
chroma_db/

data/processed/



.coverage
.coverage.*
.pytest_cache
.ruff_cache
.venv
.venv_api
.venv_ingest
.agent